<div>
  <app-nav-bar></app-nav-bar>
</div>
<div class="box">
  <h4 class="text-center">RML Courier Transport Dashboard</h4>
  <hr />
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

          <img src="../../../assets/Images/Courier%20Service.jpg" alt="img" class="img-fluid" />

          <div class="title">
            <h4>Courier Service</h4>
          </div>

          <!--                        <div class="text">-->
          <!--                            <span>Description on age group</span>-->
          <!--                        </div>-->

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

          <img src="../../../assets/Images/Transport.jpg" alt="img" class="img-fluid" />

          <div class="title">
            <h4>Transport</h4>
          </div>

          <!--                        <div class="text">-->
          <!--                            <span>Description on age group</span>-->
          <!--                        </div>-->

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

          <img src="../../../assets/Images/Dealers.jpg" alt="img" class="img-fluid" />

          <div class="title">
            <h4>Dealers</h4>
          </div>

          <!--                        <div class="text">-->
          <!--                            <span>Description on age group</span>-->
          <!--                        </div>-->

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

          <img src="../../../assets/Images/Reports.jpg" alt="img" class="img-fluid" />

          <div class="title">
            <h4>Reports</h4>
          </div>

          <!--                        <div class="text">-->
          <!--                            <span>Description on age group</span>-->
          <!--                        </div>-->

        </div>
      </div>

    </div>
  </div>
</div>

