<nav class="navbar navbar-expand-lg navbar-dark primary-color navbar-background">

  <a routerLink=""><img src="../assets/LogoRML.png" width="60px"/>&nbsp;</a>
  <a class="navbar-brand navbar-title" routerLink="">RML Transport</a>
  <span class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
</span>
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>

    <div class="form-inline">
      <div class="md-form my-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
                        <span class="button alt btn-margin nav-link">
                         Logged in as
                        </span>
          </li>
          <li class="button alt btn-margin nav-link">
            <a routerLink="/dashboard">
              My Dashboard
            </a>
          </li>

          <li  class="nav-item">
            <a class="nav-link" (click)="setMenu('admin')" routerLink="/users/admins">Admin</a>
          </li>
          <li class="nav-item">
            <a class="button alt btn-margin nav-link logInOut-btn"
            >LogInOut
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>
