<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="First name"/>
      <input type="text" placeholder="Last name"/>
      <input type="text" placeholder="Username"/>
      <input type="text" placeholder="email address"/>
      <select>
        <option>Select User role</option>
        <option>Admin</option>
        <option>User</option>
      </select>
      <input type="password" placeholder="password"/>
      <input type="password" placeholder="Re-password"/>
      <button>create</button>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>

<!--hkgbufdhkughfdukg-->
